hub

main/r.go
main/try.go
main/db.go

.env

./signature/.env
p


# .gitignore on the frontend side 
frame/match/node_modules
frame/match/.DS_STORE
frame/match/.next/

# .gitignore on the frontend side 
frame/stake/node_modules
frame/stake/.DS_STORE
frame/stake/.next/


framesjs-starter
framesjs-starter/node_modules

jwt.txt